*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #cacfd6;
    box-sizing: border-box;
}

body {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: #517664;
    font-weight: 600;
    font-size: 120%;
}

header a {
    color: inherit;
}

hr {
    height: 8px;
    width: 100%;
    background-color: #9FD8CB;
}

section {
    margin: 8%;
    font-size: 150%;
    box-shadow: 4px 4px 100px #D6E5E3;
    padding-bottom: 8px;
    margin-bottom: 4px;
}

section:hover {
    transform: scale(101%);
    box-shadow: 4px 4px 100px #8daca8;
}

h2 {
    text-align: center;
    border-width: 4px;
    color: #2D3319;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
}

button {
    background-color: #d6e5e3;
    padding: 8px;
    color: #517664;
    font-weight: 800;
    font-size: 120%;
    transition: ease 50ms;
    margin: 12px;
}

button:hover {
    transform: scale(101%);
    background-color: #d1ece9;
}




